node_modules

/build
/public/build
.env

/cypress/screenshots
/cypress/videos
/prisma/sqlite.db
/prisma/sqlite.db-journal
/prisma/sqlite.db-backup
/prisma/sqlite.db-empty

*wireguard.conf
*wireguard-key
*wireguard-key-cert.pub

notes
coverage/
