:root {
  /* general colors */
  --light: #ffffff;
  --mid-light: #eaeaea;
  --dark: #272c37;
  --mid-dark: #57585b;
  --mid: #6e6a6f;
  --light-pickleball: #b5f1ff;
  --base-pickleball: #14cdf9;
  --dark-pickleball: #34abc8;
  --light-tennis: #a3ec91;
  --base-tennis: #6ed654;
  --dark-tennis: #53af3c;
  --light-basketball: #ffc49a;
  --base-basketball: #ff9e58;
  --dark-basketball: #d77128;
  /* text colors */
  --dim-text: #aaa5ab;
  /* shadows and overlays */
  --overlay: inset 0 0 0 1000px rgba(18, 23, 35, 0.7);
  --neutral-shadow: 0 0 4px rgba(18, 23, 35, 0.25);
  --pickleball-shadow: 0 0 4px rgba(52, 171, 200, 1);
  --tennis-shadow: 0 0 4px rgba(83, 175, 60, 1);
  --basketball-shadow: 0 0 4px rgba(215, 113, 40, 1);
  /* fonts */
  --font-family: "Roboto";
  --font-family-header: "Roboto";
  --body-font-size: 18px;
  --small-font-size: 16px;
  --large-font-size: 20px;
  /* layout */
  --wrapper-width: 1000px;
  --mobile-width: 700px;
}

/* resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

h1,
h2,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* global */

body {
  color: var(--dark);
  font-family: Roboto, sans-serif;
  font-size: 18px;
  background-color: var(--light);
  margin: 0 auto;
  padding: 0;
}

/* header */

.header {
  background-image: url("/assets/basketball-sunset.jpg");
  background-repeat: no-repeat;
  background-position: 50% 70%;
  background-clip: border-box;
  background-origin: padding-box;
  -moz-background-size: cover;
  background-size: cover;
  box-shadow: var(--overlay);
  color: var(--light);
  height: 35vh;
  min-height: 250px;
  position: relative;
}

.header_content {
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--wrapper-width);
  padding: 20px;
  width: 100%;
}

.h1 {
  font-size: 45px;
  font-weight: 900;
  text-shadow: 1px 1px 4px var(--dark);
}

.h2 {
  color: var(--dim-text);
  font-size: var(--body-font-size);
  font-weight: normal;
}

.header_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header_illustration {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.header_right {
  display: flex;
  flex-direction: column;
  font-size: var(--small-font-size);
  gap: 10px;
  text-align: right;
}

.header_rightGroup {
  align-items: center;
  flex-direction: row;
  gap: 10px;
  display: flex;
  justify-content: flex-end;
}

.header_user {
  color: var(--dim-text);
  font-weight: normal;
}

.header_link {
  color: var(--light);
  text-decoration: none;
}

.header_link___learnMore {
  color: var(--light);
  text-wrap: nowrap;
}

.header_link___learnMore:hover {
  text-decoration: underline;
}

.header_link___button {
  background-color: rgba(255, 255, 255, 0.137);
  border-radius: 10px;
  padding: 8px 15px;
  white-space: nowrap;
}

.header_link___button:hover,
.header_link___button:focus {
  background-color: rgba(255, 255, 255, 0.323);
}

/* header checkbox */

.header_icon {
  border-radius: 10px;
  box-shadow: var(--neutral-dark-shadow);
  cursor: pointer;
  display: flex;
  height: 80px;
  padding: 20px;
  width: 80px;
}

.header_icon img {
  filter: invert(98%) sepia(78%) saturate(95%) hue-rotate(196deg)
    brightness(118%) contrast(100%);
}

.checkbox_wrapper {
  position: relative;
}

.header_checkmark {
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.352);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  height: 18px;
  justify-content: center;
  left: 5px;
  padding: 3px;
  position: absolute;
  top: 5px;
  width: 18px;
  z-index: 2;
}

.header_checkmark img {
  border-radius: 5px;
  cursor: pointer;
  display: none;
  position: relative;
}

.checkbox_input {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  &:checked + .header_checkmark img {
    display: block;
    position: absolute;
  }

  &:not(:checked) ~ .header_icon {
    opacity: 0.5;
  }

  &:checked ~ .header_icon {
    opacity: 1;
  }
}

.header_icon.header_icon___pickleball {
  background-color: var(--base-pickleball);
}

.header_icon.header_icon___tennis {
  background-color: var(--base-tennis);
}

.header_icon.header_icon___basketball {
  background-color: var(--base-basketball);
}

/* mobile header */

@media screen and (max-width: 700px) {
  .header {
    min-height: 300px;
  }

  .h1 {
    font-size: 34px;
  }

  .header_icon {
    height: 60px;
    padding: 15px;
    width: 60px;
  }

  .header_link___button {
    font-size: var(--small-font-size);
  }

  .header_rightGroup {
    font-size: 15px;
    padding-top: 10px;
  }

  .header_link___learnMore {
    padding-right: 14px; /* to appear aligned with button */
  }

  .header_checkmark {
    height: 18px;
    top: 5px;
    width: 18px;
  }
}

/* nav */

.nav {
  background-color: var(--light);
  border-bottom: 2px solid var(--mid-light);
  font-size: var(--small-font-size);
  margin: 0 auto;
  position: sticky;
  text-transform: uppercase;
  top: 0;
  width: 100%;
}

.nav_content {
  display: flex;
  font-weight: 500;
  gap: 10px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--wrapper-width);
  padding: 20px;
}

.nav_link {
  color: var(--mid-dark);
  position: relative;
}

.nav_link.nav_link___selected,
.nav_link:hover,
.nav_link:focus {
  color: var(--dark);
}

.nav_hr {
  border-bottom: 2px solid var(--dark);
  position: absolute;
  margin-top: 20px;
  width: 100%;
}

/* main */

.main {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;
  justify-content: stretch;
  margin: 0 auto;
  max-width: var(--wrapper-width);
  padding: 20px;
}

@media screen and (max-width: 700px) {
  .main {
    gap: 10px;
  }
}

@media screen and (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

/* schedule */

.schedule {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.schedule_icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.schedule_icon img {
  height: 20px;
}

.schedule_header {
  align-items: center;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  gap: 10px;
}

/* hide when empty */
.schedule_content:has(.schedule_row) {
  border-radius: 10px;
  box-shadow: var(--neutral-shadow);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.schedule_content.schedule_content___pickleball {
  background-color: var(--base-pickleball);
}

.schedule_content.schedule_content___tennis {
  background-color: var(--base-tennis);
}

.schedule_content.schedule_content___basketball {
  background-color: var(--base-basketball);
}

.schedule_row {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100%;
}

.schedule_button {
  background-color: var(--light);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: var(--body-font-size);
  padding: 10px 10px 10px 20px;
  text-align: left;
}

.schedule_button:hover {
  transform: scale(1.05);
}

.schedule_type {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.schedule_content___pickleball .schedule_button.schedule_button___private,
.schedule_content___pickleball .schedule_button.schedule_button___open,
.schedule_content___tennis .schedule_button.schedule_button___private,
.schedule_content___tennis .schedule_button.schedule_button___open,
.schedule_content___basketball .schedule_button.schedule_button___private,
.schedule_content___basketball .schedule_button.schedule_button___open {
  align-items: center;
  box-shadow: unset;
  display: flex;
  justify-content: space-between;
}

.schedule_content___pickleball .schedule_button.schedule_button___open {
  background-color: var(--light-pickleball);
  border: 2px var(--dark-pickleball) dashed;
}

.schedule_content___pickleball .schedule_button.schedule_button___private {
  background-color: var(--dark-pickleball);
  color: var(--light-pickleball);
}

.schedule_content___tennis .schedule_button.schedule_button___open {
  background-color: var(--light-tennis);
  border: 2px var(--dark-tennis) dashed;
}

.schedule_content___tennis .schedule_button.schedule_button___private {
  background-color: var(--dark-tennis);
  color: var(--light-tennis);
}

.schedule_content___basketball .schedule_button.schedule_button___open {
  background-color: var(--light-basketball);
  border: 2px var(--dark-basketball) dashed;
}

.schedule_content___basketball .schedule_button.schedule_button___private {
  background-color: var(--dark-basketball);
  color: var(--light-basketball);
}

.schedule_button.schedule_button___open {
  color: #000;
}

.schedule_content___pickleball .schedule_button.schedule_button___private:hover,
.schedule_content___pickleball .schedule_button.schedule_button___private:focus,
.schedule_content___pickleball .schedule_button.schedule_button___open:hover,
.schedule_content___pickleball .schedule_button.schedule_button___open:focus,
.schedule_content___tennis .schedule_button.schedule_button___private:hover,
.schedule_content___tennis .schedule_button.schedule_button___private:focus,
.schedule_content___tennis .schedule_button.schedule_button___open:hover,
.schedule_content___tennis .schedule_button.schedule_button___open:focus,
.schedule_content___basketball .schedule_button.schedule_button___private:hover,
.schedule_content___basketball .schedule_button.schedule_button___private:focus,
.schedule_content___basketball .schedule_button.schedule_button___open:hover,
.schedule_content___basketball .schedule_button.schedule_button___open:focus {
  transform: none;
}

.schedule_content___pickleball .schedule_button {
  box-shadow: var(--pickleball-shadow);
}

.schedule_content___tennis .schedule_button {
  box-shadow: var(--tennis-shadow);
}

.schedule_content___basketball .schedule_button {
  box-shadow: var(--basketball-shadow);
}

/* sign up */

.signUp_form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 500px;
}

.signUp_label {
  font-size: var(--small-font-size);
  font-weight: bold;
}

.signUp_button {
  background-color: var(--dark);
  border-radius: 10px;
  color: var(--light);
  padding: 10px 15px;
}

.signUp_button:hover,
.signUp_button:focus {
  background-color: var(--mid);
}

.signUp_input {
  border: 1px solid var(--dim-text);
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 5px 10px;
  width: 100%;
}

.signUp_input:focus {
  border-color: var(--base-pickleball);
}

/* magic link message */

.magicLink_message {
  max-width: 500px;
}

/* new reservation */

.newRes_label {
  font-weight: bold;
  margin-bottom: 10px;
}

.newRes_bold {
  font-weight: bold;
}

.newRes_button {
  background-color: var(--dark);
  border-radius: 10px;
  color: var(--light);
  padding: 10px 15px;
}

.newRes_button___outline {
  background-color: transparent;
  border: 1px solid var(--dark);
  color: var(--dark);
}

.newRes_group {
  align-content: center;
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
  width: 100%;
}

.newRes_group.newRes_group___small {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: unset;
}

@media screen and (max-width: 700px) {
  .newRes_group {
    display: flex;
    flex-direction: column;
  }
}

.newRes_stack {
  display: flex;
  flex-direction: column;
}

/* radio */

.newRes_radio,
.newRes_checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.newRes_radio input,
.newRes_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.newRes_checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: var(--mid-light);
  border-radius: 50%;
}

.newRes_box {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: var(--mid-light);
}

input:checked ~ .newRes_box:before {
  content: "✔️";
  margin-left: 3px;
}

.newRes_radio:hover input ~ .newRes_checkmark {
  background-color: var(--mid-light);
}

.newRes_radio input:checked ~ .newRes_checkmark {
  background-color: var(--dark);
}

.newRes_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.newRes_radio input:checked ~ .newRes_checkmark:after {
  display: block;
}

.newRes_radio .newRes_checkmark:after {
  top: 7px;
  left: 7px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
}

/* existing reservation detail */

.existingRes_stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.existingRes_label {
  font-size: var(--large-font-size);
  font-weight: bold;
}

.existingRes_courtIcon {
  border-radius: 10px;
  box-shadow: var(--neutral-dark-shadow);
  height: 20px;
  width: 20px;
}

.existingRes_courtType {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* faq */

.faq-q {
  font-size: 24px;
  font-weight: 900;
  padding-bottom: 15px;
}

.faq-a {
  padding-bottom: 30px;
}

.faq-list {
  list-style: unset;
  padding: revert;
}

/* generic */

.container {
  margin: 0 auto;
  max-width: var(--wrapper-width);
  padding: 40px 20px;
}

.oldschool-link {
  color: #00f;
  text-decoration: underline;
}
